.container {
  padding: 0 2rem;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin:0 auto;
}


.warningLabel{
  color: red;
  font-weight: 800;
  text-align: left;
  width: 100%;
}

.livePreviewiFrame{
  width: 100%;
  height: 500px;
  margin-bottom: 5rem;
}

.livePreviewiFrame iframe{
  width: 100%;
  height: 100%;
}

.images{
  display: flex;
  flex-direction: row;
  gap: 1rem
}

@media only screen and (max-width: 675px) {
  .images{
    /* border: 3px solid red; */
    flex-direction: column;
  }
}

.profileImg{
  max-width: 500px;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  text-align: center;
  /* padding: 30px; */
}

.profileImg img{
  width: 100%;
  height: 100%;
}


.complaintForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;  
}

.complaintForm input{
  padding: 0.4rem;
  border-radius: 0.2rem;
  margin: 0.3rem 0;
  border: none;
}

.complaintForm button {
  background: red;
  color: white;
  padding: 0.8rem;
  border-radius: 0.2rem;
  margin: 0.3rem 0;
  border: none;
}

.published{
  color:hsl(0, 0%, 60%)
};